---
export interface Props {
  bgColor?: string
  className?: string
  animate?: boolean
}
const { bgColor, className, animate } = Astro.props
---

{
  animate ? (
    <section data-background-color={bgColor} class={className} data-auto-animate>
      <slot />
    </section>
  ) : (
    <section data-background-color={bgColor} class={className}>
      <slot />
    </section>
  )
}
