---
export interface Props {
  bgColor?: string
  bgGradient?: string
  className?: string
  animate?: boolean
}
const { bgColor, bgGradient, className, animate } = Astro.props
---

<section
  data-background-color={bgColor}
  class={className}
  data-auto-animate={animate}
  data-background-gradient={bgGradient}
>
  <slot />
</section>
