---
import Reveal from '@layouts/Reveal'
import MDSlide from '@components/reveal/MDSlide'
import Slide from '@components/reveal/Slide'
import Profile from '@components/Profile'
---

<Reveal title='Functional CSS with Tailwindcss' logo='true'>
  <Slide><h2>Functional CSS with Tailwindcss</h2></Slide>
  <Slide><Profile /></Slide>
</Reveal>
