---
import Reveal from '@layouts/Reveal'
import MDSlide from '@components/reveal/MDSlide'
import Slide from '@components/reveal/Slide'
---

<Reveal title="Functional CSS with Tailwindcss" logo="true">
  <Slide><h2>Functional CSS with Tailwindcss</h2></Slide>
  <Slide>Test 2</Slide>
</Reveal>
