---
export interface Props {
  title: string
  description: string
  href: string
}

const { title, description, href } = Astro.props
---

<a href={href}>
  <div class="card px-8 py-4 rounded-lg shadow-lg bg-white hover:bg-sky-50 cursor-pointer h-32">
    <h3 class="py-2 text-xl font-bold text-gray-800">{title}</h3>
    <p class="text-gray-600">{description}</p>
  </div>
</a>
