<div class='profile flex items-center justify-center space-x-20'>
  <div class='h-72 w-72'>
    <img class='rounded-full' src='itsame.jpg' alt='Chi Nguyen' />
  </div>
  <div class='text-left'>
    <p class='font-bold'>Chi Nguyen</p>
    <p class=''>Consultant</p>
    <p class=''>Architecture & Design</p>
  </div>
</div>
