---

export interface Props {
  logo: string
  className: string
  name: string
}
const { logo, className, name } = Astro.props

---
<div class={`flex flex-col group hover:scale-125 transition duration-150 ${className}`}>
    <img class="w-full h-full !my-0  rounded-lg" src={logo} />
    <div class="group-hover:text-white text-transparent transition-all duration-150 text-center">{name}</div> 
</div>