---
import '../styles/base.css'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='en' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <link rel='icon' type='image/svg+xml' href='/vite.svg' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='https://rsms.me/inter/inter.css' />
    <title>{title}</title>
  </head>

  <body>
    <slot />
    <style>
      html {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
      }
    </style>
  </body>
</html>
